.TaggedIllustration {
  display: flex;
  position: relative;
}
.TaggedIllustration__main-container img {
  max-width: 100%;
  width: 100%;
}
.TaggedIllustration__tag {
  position: absolute;
  top: 12px;
  right: 0px;
}

@media screen and (max-width: 767px){
  .TaggedIllustration {
    max-width: 450px;
  }
  .TaggedIllustration__main-container img {
    max-height: 100%;
  }
}