@import '../../../components/App/colors.scss';

.CourseListItem {
  font-size: 13px;
  font-weight: bold;
}
.CourseListItem__course-name {
  text-decoration: none;
  font-weight: bold;
  letter-spacing: 0.79px;
  color: $color-a-100;
}

.CourseListItem__details {
  display: flex;
  align-items: center;;
  justify-content: space-between;
}
.CourseListItem__educator-name {
  color: $color-d-80;
  letter-spacing: .2px;
  font-weight: 400;
}
.CourseListItem__spacer {
  background: $color-g-40;
  height: 4px;
  width: 4px;
  border-radius: 100px;
}

.CourseListItem__stats {
  display: flex;
  width: 65px;
  justify-content: space-between;
}
.CourseListItem__stat-group {
  display: flex;
  margin-right: 10px;
  align-items: center;
}
.CourseListItem__stat-icon {
  color: $color-g-80;
  font-size: 9px;
  margin-right: 6px;
}
.CourseListItem__stat-value {
  color: $color-g-100;
  font-size: 11px;
  font-weight: 600;
}
