// Primary
$color-a-100: rgb(38, 128, 151);
$color-a-80: rgb(77, 148, 167);
$color-a-60: rgb(101, 168, 185);
$color-a-40: rgb(146, 191, 203);
$color-a-20: rgb(223, 245, 248);
$color-a-10: rgb(241, 251, 250);

// Secondary
$color-b-100: rgb(72, 81, 173);
$color-b-80: rgb(96, 103, 168);
$color-b-60: rgb(186, 192, 255);
$color-b-40: rgb(228, 229, 243);
$color-b-20: rgb(241, 251, 250);

$color-c-100: rgb(22, 180, 175);
$color-c-60: rgb(111, 193, 204);

// Misc
$color-d-100: rgb(35, 42, 72);
$color-d-80: rgb(58, 63, 90);
$color-r-100: rgb(255, 87, 104);

// Greys
$color-g-100: rgb(141, 154, 169);
$color-g-80: rgb(175, 181, 188);
$color-g-60: rgb(196, 202, 208);
$color-g-40: rgb(230, 231, 232);
$color-g-30: rgb(244, 241, 238);
$color-g-20: rgb(249, 249, 249);

// Navy
$color-n-40: rgb(87, 99, 133);

// fonts
// 36: page header hl
// 24: mobile header
// 18: form label, illustration label
// 17: study card question left #s
// 16: study card question/answer text
// 15: form placeholder, button capital text
// 14: page header sub text, study smiley label
// 13: browse card bio text, header nav text, form footer grey text, course name (study card), study q left labels,
//     filter placeholder text, study 'this was',
// 12: question/answer tag on study cards, FA icon values (study card)
// 10: FA icons (study card)