// COLORS
$dark-text-color: #091A49;
$light-text-color: white;
$dark-purple-color: #701373;
$dark-blue-color: #091A49;
$dark-blue-color-translucent: rgba(10, 27, 73, 0.95);

// POSITIONING
$page-side-padding: 41px;