@import '../App/variables.scss';
@import '../App/colors.scss';

.LandingPageView {
  display: flex;
  flex-direction: column;
}

.App__landing-page-view {
  padding-top: 82px;
}

.LandingPageView__logo-back {
  background: linear-gradient(270deg, $color-b-100, $color-a-100);
  width: 187px;
  height: 79px;
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 0px 27px 27px 0px;
  z-index: -1;
}
.LandingPageView__logo-link {
  display: none;
}
@media screen and (max-width: 767px) {
  .LandingPageView__logo-back {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 132px;
  }
  .LandingPageView__logo-link {
    display: inline-block;
  }
}

/**
* HERO
*/
.Hero {
  display: flex;
}
.LandingPageView__hero {
  display: flex;
  justify-content: space-between;
  padding: 0px $page-side-padding;
}
.Hero__copy {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex: 1 1 auto;
}
.Hero__copy h1 {
  color: $color-b-100;
  font-weight: bold;
  font-size: 50px;
  letter-spacing: 1px;
}
.Hero__copy h6 {
  color: $color-b-100;
  letter-spacing: 1px;
}
.Hero__cta {
  align-self: flex-start;
}
@media screen and (max-width: 767px) {
  .App__landing-page-view {
    padding-top: 0px;
  }
  .LandingPageView__fold {
    position: relative;
    display: flex;
    flex-direction: column;
  }
  .LandingPageView__hero {
    padding-top: 115px;
  }
  .Hero {
    flex-direction: column-reverse;
    align-items: center;
  }
  .Hero__copy {
    display: flex;
    flex-direction: column;
  }
  .Hero__copy h1 {
    font-size: 36px;
  }
  .Hero__copy h6 {
    margin: 10px 0px;
  }
  .Hero__cta {
    align-self: center;
  }
}

.LandingPageView__cta {
  color: white;
  background-color: $color-a-100;
  padding: 14px 25px;
  border-radius: 50px;
  font-weight: bold;
  box-shadow: 0px 2px 10px 0px #9B9B9B;
  font-size: 13px;
}
.LandingPageView__cta:hover {
  text-decoration: none;
  background: $color-a-80;
}
.LandingPageView__cta svg {
  margin-left: 4px;
}

.LandingPageView__final-cta {
  align-self: center;
}

.LandingPageView__steps {
  margin-bottom: 60px;
}

.LandingPageView__steps h1 {
  align-self: center;
  font-weight: 100;
  color: $color-b-100;
  margin: 107px 0px 40px 0px;
}
.LandingPageView__divider {
  width: 50px;
  height: 1px;
  background :$color-r-100;
  align-self: center;
}


.LandingPageView__step {
  padding: 90px 0px;
}

.LandingPageView__footer {
  margin-top: 60px;
}
@media screen and (max-width: 767px) {
  .LandingPageView__steps h1 {
    margin-top: 41px;
  }
  .LandingPageView__step {
    padding: 40px 0px;
  }
}