.CoursesView {
}
.CoursesView__my-courses {
}
.CoursesView__browse-courses {
}

.CoursesView__tabs {
  margin-bottom: 25px;
}

.CoursesView__header {
  display: flex;
  justify-content: space-between;
}